# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE/project settings
.vscode/
.idea/

# Ignore environment variables
.env
.venv
venv


# Ignore build/dist files
build/
dist/
*.egg-info/
# Ignore files
yolo11x.pt
yolo11x-pose.pt
dataset/person.jpg
